{% extends 'layouts/admin/managers/manager-list.html.twig' %}

{% block namespace %}admin.manager.tags.home{% endblock %}

{% block admin_title_page %}
    <h1>Liste des Tags</h1>
{% endblock %}

{% block list_header %}
    <div>
        {{ knp_pagination_render(tags) }}
    </div>
    <div class="ml-4">
        {% include 'components/search_field_bar.html.twig' with {'form': searchForm} %}
    </div>

    <a class="ml-4" href="{{ path('admin.manager.tags.create') }}">
        <button type="button" class="btn btn-success">Créer</button>
    </a>
{% endblock %}

{% block list_table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Nom</th>
            <th scope="col">Nombre de pages</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <th scope="row">{{ tag.id }}</th>
                <td style="color: {{ tag.color }}">{{ tag.name }}</td>
                <td>{{ tag.pages | length }}</td>
                <td>
                    <a href="{{ path('admin.manager.tags.read', {'id': tag.id}) }}">
                        <button type="button" class="btn btn-primary">Voir</button>
                    </a>
                    <a href="{{ path('admin.manager.tags.update', {'id': tag.id}) }}">
                        <button type="button" class="btn btn-warning">Modifier</button>
                    </a>
                    <a href="{{ path('admin.manager.tags.delete', {'id': tag.id}) }}">
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block list_pagination %}
    {{ knp_pagination_render(tags) }}
{% endblock %}