{% extends 'layouts/admin/managers/manager-list.html.twig' %}

{% block namespace %}admin.manager.pages.home{% endblock %}

{% block admin_title_page %}
    <h1>Liste des Pages</h1>
{% endblock %}

{% block list_header %}
    <div>
        {{ knp_pagination_render(pages) }}
    </div>
    <div class="ml-4">
        {% include 'components/search_field_bar.html.twig' with {'form': searchForm} %}
    </div>

    <a class="ml-4" href="{{ path('admin.manager.pages.create') }}">
        <button type="button" class="btn btn-success">Créer</button>
    </a>
{% endblock %}

{% block list_table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <th scope="row">{{ page.id }}</th>
                <td>{{ page.title }}</td>
                <td>
                    <a href="{{ path('admin.manager.users.read', {'id': page.author.id}) }}">{{ page.author.name }}</a>
                </td>
                <td>
                    <a href="{{ path('admin.manager.pages.read', {'id': page.id}) }}">
                        <button type="button" class="btn btn-primary">Voir</button>
                    </a>
                    <a href="{{ path('admin.manager.pages.update', {'id': page.id}) }}">
                        <button type="button" class="btn btn-warning">Modifier</button>
                    </a>
                    <a href="{{ path('admin.manager.pages.delete', {'id': page.id}) }}">
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block list_pagination %}
    {{ knp_pagination_render(pages) }}
{% endblock %}
