{% extends 'layouts/admin/managers/manager-list.html.twig' %}
{% block admin_content %}
    <h1>Liste des pages </h1>

    <span><a href="page/create/12">Create</a></span>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <th scope="row">{{ page.id }}</th>
                <td>{{ page.title }}</td>
                <td>{{ page.author.name }}</td>
                <td>
                    <a href="{{ path('admin.manager.pages.read', {'id': page.id}) }}">
                        <button type="button" class="btn btn-primary">Voir</button>
                    </a>
                    <a href="{{ path('admin.manager.pages.update', {'id': page.id}) }}">
                        <button type="button" class="btn btn-warning">Modifier</button>
                    </a>
                    <a href="{{ path('admin.manager.pages.delete', {'id': page.id}) }}">
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {{ knp_pagination_render(pages) }}
{% endblock %}
