{% extends 'layouts/admin/managers/manager-list.html.twig' %}

{% block namespace %}admin.manager.users.home{% endblock %}

{% block admin_title_page %}
    <h1>Liste des utilisateurs</h1>
{% endblock %}

{% block list_header %}
    <div>
        {{ knp_pagination_render(users) }}
    </div>
    <div class="ml-4">
        {% include 'components/search_field_bar.html.twig' with {'form': searchForm} %}
    </div>
{% endblock %}

{% block list_table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Nom</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Role</th>
            <th scope="col">Pages écrites</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.pseudo }}</td>
                <td>
                    {% if 'ROLE_ADMIN' in user.getroles(TRUE)  %}
                        Admin
                    {% else %}
                        User
                    {% endif %}
                </td>
                <td>{{ user.pages | length }}</td>
                <td>
                    <a href="{{ path('admin.manager.users.read', {'id': user.id}) }}">
                        <button type="button" class="btn btn-primary">Voir</button>
                    </a>
                    <a href="mailto:{{ user.email }}">
                        <button type="button" class="btn btn-info">Envoyer un mail</button>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block list_pagination %}
    {{ knp_pagination_render(users) }}
{% endblock %}
